*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:azure;
}


/* upper-section */

.heading{
    text-align: center;
    background-color: #c80075ad;
    color: #00c853;
    padding: 1%;
}

.heading h1{
    font-size: 2.5rem;
    margin: 0.5%;

}

.heading h2{
    font-size: 2rem;
}

/* middle section  */

.upperbox{
    display: flex;
    width: 100vw;
    height:15rem;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}

.names{
    /* display: flex; */
    text-align: center;
    background-color: aqua;
    width: 33%;
    justify-content: center;
    
}


.names img{
    display: block;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    margin: auto;
    cursor: pointer;

}
p{
    font-size: 1rem;
    font-weight: 600;
}

/* bottom-section */

#bottom{
    text-align: center;
}
 #bottom h2{
    color: #00c853;
 }
.member-list{
    display: flex;
    width: 100vw;
    background-color: aquamarine;
    flex-wrap: wrap;
}

.member{    
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.member img{
    border-radius: 50%;
    margin: 10%;
}

.member h4{
    /* margin: 20px 0 0 15px; */
}

.member p{
    /* margin: 0 0 0 15px; */
}

.text{
    width: 40%;
    margin-left: 20px;
    text-align: start;
}

.mem-core{
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.mem-inner{
   width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}